system/system/app/HoneyBoard/HoneyBoard.apk
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
recovery.img
